//Сброс стилей
@import 'reset';
//Импорт шрифта
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

//Установка шрифта
* {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.hiddenAnswer {
    display: none;
    margin-top: 0;
    max-height: none;
    transition: 0.3s;
}

.rotate {
    transform: rotate(-180deg);
}

//Импорт блоков
@import './base/header';
@import './base/footer';
//Импорт страниц
@import './pages/main';