//Сброс стилей
@import 'reset';
//Импорт шрифта
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

//Установка шрифта
* {
    font-family: 'Inter', sans-serif;
}
body {
    position: relative;
}

.container {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.hiddenAnswer {
    display: none;
    margin-top: 0;
    max-height: none;
    transition: 0.3s;
}

.rotate {
    transform: rotate(-180deg);
}



//Секция промо
.promo {
    background: url(../img/john-schnobrich-VnHzobjGra4-unsplash.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    padding: 0 25px;
    &__wrapper {
        //затемнение фона
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
        }
    }
    &__text {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 110%;
        color: white;
        text-align: center;
    }
    &__descr {
        margin: 20px 30px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 150%;
        color: white;
        text-align: center;
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    }
    @media (min-width: 768px) and (max-width: 991px) {
    }
    @media (min-width: 576px) and (max-width: 767px) {
        .promo {
            height: 400px;
            &__title {
                font-size: 63px;
            }
            &__descr {
                font-size: 18px;
            }
        }
    }
    @media (min-width: 320px) and (max-width: 575px) {
        .promo {
            height: 400px;
            &__title {
                font-size: 50px;
            }
            &__descr {
                font-size: 16px;
            }
        }
    }
}
// .promoMdBg {
//     @media (max-width: 991px) {
//         background: url(../img/promo_bg.jpeg) center (center/cover) no-repeat;
//         background-attachment: local;
//     }
// }

#selectedLink {
    background-color: #113454;
    .blockWithLinks__title {
        color: white;
    }
}

//Импорт блоков
@import './base/header';
@import './base/footer';
//Импорт страниц
@import './pages/main';
@import './pages/slots';
@import './pages/payment';
@import './pages/bonus';
@import './pages/roulette';


.displayNone {
    display: none;
}
.bgDark {
    background-color: #111928;
}
.bgLight {
    background-color: #1F2A37;
}