//Сброс стилей
@import 'reset';
//Импорт шрифта
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

//Установка шрифта
* {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.hiddenAnswer {
    display: none;
    margin-top: 0;
    max-height: none;
    transition: 0.3s;
}

.rotate {
    transform: rotate(-180deg);
}

//Секция промо
.promo {
    background: url(../img/promo_bg.jpeg) center (center/cover) no-repeat;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    &__wrapper {
        //затемнение фона
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
        }
    }
    &__text {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 110%;
        color: white;
        text-align: center;
    }
    &__descr {
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 150%;
        color: white;
        text-align: center;
    }
}

//Импорт блоков
@import './base/header';
@import './base/footer';
//Импорт страниц
@import './pages/main';
@import './pages/slots';
@import './pages/payment';
@import './pages/bonus';
@import './pages/roulette';