.bonusPromo {
    background: url(../img/bonus_bg.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    @media (max-width: 991px) {
        background-attachment: local;
    }
}
 
.bonus {
    padding: 40px 0;
    background-color: #1f2a37;
}