
.promo {
    @media (max-width: 991px) {
        background-attachment: local;
    }
}
//Меню
.linksInPages {
    padding: 40px 0;
    background-color: #111928;
    &__wrapper {
        .blockWithLinks {
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 210px;
                height: 120px;
                background: #1F2A37;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                transition: all 0.3s;
                &:hover {
                    background: #113454;
                }
                &:hover .blockWithLinks__title {
                    color: white;
                }
            }
            &__icon {
                width: 50px;
                img {
                    width: 100%;
                }
                .trans {
                    transform: translateX(5px);
                }
            }
            &__title {
                margin-top: 15px;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

//Заголовок
.title {
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    &_h3 {
        margin-top: 40px;
        font-size: 32px;
    }
    &_low {
        margin-top: 20px;
        font-size: 32px;
    }
}


//Текст
.text {
    padding: 0 10px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    color: #9CA3AF;
    span {
        font-size: 20px; 
        font-weight: 700;
        line-height: 200%;
    }
}
.img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    img {
        width: 100%;
    }
    &_recommendations {
        border-radius: 12px;
        img {
            border-radius: 12px;
        }
    }
    &_payment {
        max-width: 450px;
    }
}

//Топ Казино
.topCasino{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__box {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;

        background: #111928;
        border-radius: 15px; 
        .logoCasino {
            width: 70px;
            border-radius: 100%;
            &__img {
                width: 100%;
                border-radius: 100%;
            }
        }
        .nameCasino {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            color: #ffffff;
        }
        .rateCasino {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            position: relative;
            span {
                position: absolute;
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 120%;
                color: #113454;
            }
            &__img {
                width: 60%;
            }
        }
    }
}

//Секция Топ Казино
.topCasinoSection {
    padding: 40px 0;
    background: #1F2A37;
}

//Секция About
.about {
    padding: 40px 0;
    background-color: #111928;
   .whyUs {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        &__block{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 290px;
        }
        &__img {
            width: 80px;
            img {
                width: 100%;
            }
            &_correct {
                margin-top: -15px;
                width: 100px;
            }
        }
        &__text {
            width: 100%;
            margin-top: 15px;
            color: #9CA3AF;
            text-align:justify;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
        }
    }
}
//Секция о заработке
.aboutEarning {
    padding: 40px 0;
    background-color: #1F2A37;
}
//Секция как выбрать казино
.howChooseCasino {
    padding: 40px 0;
    background-color: #111928;
    .licenses {
        display: flex;
        justify-content: space-around;
        margin-top: 35px;
        &__box {
            width: 290px;
        }
        &__img {
            width: 290px;
            img {
                width: 100%;
            }
        }
        &__title {
            margin-top: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            color: #fff;
        }
        &__descr {
            margin-top: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #9CA3AF;
            text-align: justify;
        }
    }
    
}
.table {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 900px;

    background-color: #1F2A37;
    border: 1px solid #374151;
    border-radius: 8px;
    padding: 20px;
    &_roulette {
        background: #111928;
    }
    &_bonus {
        background-color: #111928;
    }
        .tableContent {
            &__title {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                color: #FFFFFF;
            }
            &__descr {
                margin-top: 10px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #9CA3AF;
                a {
                    color: #F4F4F4;
                }
            }
        }
        .grey-line {
        margin: 20px 0;
        height: 1px;
        background-color: #374151;
        }
    }
.grey-line {
    margin: 20px 0;
    height: 1px;
    background-color: #374151;
    }

//Секция RTP
.aboutRtp {
    padding: 40px 0;
    background: #1F2A37;
    &__table {
        margin: 0 auto;
        margin-top: 30px;
        max-width: 900px;
    
        background-color: #111928;
        border: 1px solid #374151;
        border-radius: 8px;
        padding: 20px;
        color: #9CA3AF;
        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #9CA3AF;
    }
}


//Стили меню active
.selectedForLinks_bg {
    background: #113454;
}
.selectedForLinks_color {
    color: #FFFFFF;
}

.recommendations {
    padding: 40px 0;
    background-color: #111928;
    &__wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    &__text {
        max-width: 60%;
        margin: 0 auto;
    }
    &__img {
        width: 320px;
        display: flex;
        justify-content: center;

        img {
            border-radius: 12px;
        }
    }
}

.realPeople {
    padding: 40px 0;
    background-color: #1F2A37;
}

//Секция FAQ
.faq {
    background: #1F2A37;
    padding: 40px 0;
    border-top: 1.5px solid grey;
    &__wrapper {
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 900px;
        flex-wrap: wrap;
        gap: 20px;
        .question {
            margin: 0 auto;
            padding: 24px 32px;
            width: 80%;
            min-height: 75px;
            background-color: #111928;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__title {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #ffffff;
            }
            &__icon {
                cursor: pointer;
            }
            &__text {
                margin-top: 20px;
                font-size: 15px;
                width: 90%;
                color: #9CA3AF
            }
        }
    }
}
//Test
.fact {
    background: url(../img/john-schnobrich-VnHzobjGra4-unsplash.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    height: 205px;
    position: relative;
    @media (max-width: 991px) {
        background-attachment: local;
    }
    &__wrapper {
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
        }
    }
    &__text {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        padding: 35px 10px;
        max-width: 900px;
        text-align: center;
        font-weight: 400;
        font-size: 21px;
        line-height: 150%;
        z-index: 3;
        color:#FFFFFF
    }
}



//Мобильный адаптив
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
    .linksInPages {
        .blockWithLinks {
            &__box {
                width: 180px;
            }
        }
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .linksInPages {
        .blockWithLinks {
            &__box {
                width: 143px;
            }
        }
    }
    .about {
        .whyUs__block {
            max-width: 200px;
        }
        .whyUs__text {
            font-size: 13px;
        }
    }
    .howChooseCasino {
        .licenses {
            &__box {
                width: 210px;
            }
            &__img {
                width: 210px;
            }
            &__title {
                font-size: 17px;
            }
            &__descr {
                font-size: 13px;
            }
        }
    }
    .recommendations {
        &__img {
            display: none;
        }
        &__text {
            max-width: 100%;
        }
    }
    .faq {
        &__wrapper {
            width: 100%;
            justify-content: center;
            .question {
                // margin: 0 auto;
                width: 80%;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .topCasino {
        &__box {
            .logoCasino {
                width: 70px;
            }
            .nameCasino {
                font-size: 25px;
            }
            .rateCasino {
                width: 90px;
                span {
                    font-size: 20px;
                }
            }
            .btn_ref {
                width: 130px;
                height: 50px;
            }
        }
    }
    .linksInPages {
        .blockWithLinks {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__box {
                margin-bottom: 10px;
                width: 50%;
            }
        }
    }
    .about {
        .whyUs {
            margin-top: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .whyUs__block {
            margin-top: 30px;
            max-width: 90%;
        }
        .whyUs__text {
            font-size: 13px;
        }
    }
    .fact {
        &__text {
            font-size: 17px;
        }
    }
    .howChooseCasino {
        .licenses {
            flex-direction: column;
            margin-top: 0;
            &__box {
                width: 90%;
                margin: 0 auto;
                margin-top: 35px;
                justify-content: center;
            }
            &__img {
                display: block;
                margin: 0 auto;
                width: 90%;
            }
            &__title {
                font-size: 23px;
            }
            &__descr {
                font-size: 17px;
            }
        }
    }
    .recommendations {
        &__img {
            display: none;
        }
        &__text {
            max-width: 100%;
        }
    }
    .faq {
        &__wrapper {
            flex-direction: column;
            width: 100%;
            justify-content: center;
            .question {
                margin: 0 auto;
                width: 80%;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    .topCasino {
        &__box {
            flex-direction: column;
            gap: 10px;
            height: 280px;
        }
    }
    .title {
        font-size: 30px;
    }
    .text {
        font-size: 14px;
    }
    .linksInPages {
        .blockWithLinks {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__box {
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
    .about {
        .whyUs {
            margin-top: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .whyUs__block {
            margin-top: 30px;
            max-width: 90%;
        }
        .whyUs__text {
            font-size: 13px;
        }
    }
    .fact {
        &__text {
            font-size: 14px;
        }
    }
    .howChooseCasino {
        .licenses {
            flex-direction: column;
            margin-top: 0;
            &__box {
                width: 90%;
                margin: 0 auto;
                margin-top: 35px;
                justify-content: center;
            }
            &__img {
                display: block;
                margin: 0 auto;
                width: 90%;
            }
            &__title {
                font-size: 17px;
            }
            &__descr {
                font-size: 13px;
            }
        }
    }
    .recommendations {
        &__img {
            display: none;
        }
        &__text {
            max-width: 100%;
        }
    }
    .faq {
        &__wrapper {
            flex-direction: column;
            width: 100%;
            justify-content: center;
            .question {
                margin: 0 auto;
                width: 100%;
                padding: 16px 20px;
                min-height: 60px;
                &__text {
                    transition: all 0.3s;
                    font-size: 15px;
                }
            }
        }
    }
}