//Секция промо
.promo {
    background: url(../img/promo_bg.jpeg) center (center/cover) no-repeat;
    background-attachment: fixed;
    height: 500px;
    position: relative;
    &__wrapper {
        //затемнение фона
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
        }
    }
    &__text {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 110%;
        color: white;
        text-align: center;
    }
    &__descr {
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 150%;
        color: white;
        text-align: center;
    }
}

//Заголовок
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #113454;
    &_h3 {
        margin-top: 40px;
        font-size: 32px;
    }
}

//Текст
.text {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #113454;
}

//Топ Казино
.topCasino{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__box {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;

        background: #FFFFFF;
        border-radius: 15px;
        .logoCasino {
            width: 70px;
            border-radius: 100%;
            &__img {
                width: 100%;
                border-radius: 100%;
            }
        }
        .nameCasino {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            color: #113454;
        }
        .rateCasino {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            position: relative;
            span {
                position: absolute;
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 120%;
                color: #113454;
            }
            &__img {
                width: 70%;
            }
        }
    }
}

//Секция Топ Казино
.topCasinoSection {
    padding: 40px 0;
    background-color: #F4F4F4;
}

//Секция About
.about {
    padding: 40px 0;
    background-color: #FFFFFF;
}

//Секция RTP
.aboutRtp {
    padding: 40px 0;
    background-color: #F4F4F4;
}

//Меню
.linksInPages {
    padding: 40px 0;
    &__wrapper {
        .blockWithLinks {
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 210px;
                height: 120px;
                background: #FFFFFF;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                transition: all 0.3s;
                &:hover {
                    background: #113454;
                }
                &:hover .blockWithLinks__title {
                    color: white;
                }
            }
            &__icon {
                width: 50px;
                img {
                    width: 100%;
                }
                .trans {
                    transform: translateX(5px);
                }
            }
            &__title {
                margin-top: 15px;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                color: #113454;
            }
        }
    }
}

//Стили меню active
.selectedForLinks_bg {
    background: #113454;
}
.selectedForLinks_color {
    color: #FFFFFF;
}

//Секция FAQ
.faq {
    background-color: #FFFFFF;
    padding: 40px 0;
    &__wrapper {
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 900px;
        flex-wrap: wrap;
        gap: 20px;
        .question {
            margin: 0 auto;
            padding: 24px 32px;
            width: 80%;
            min-height: 75px;
            background: #f4f4f4;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__title {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #113454;
            }
            &__icon {
                cursor: pointer;
            }
            &__text {
                margin-top: 20px;
                font-size: 15px;
                width: 90%;
            }
        }
    }
}
//Test
.test {
    height: 100px;
    background: url(../img/promo_bg.jpeg) center (center/cover) no-repeat;
    background-attachment: fixed;
    // background-color: black;
    position: relative;
    &__wrapper {
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
    
            background-color: rgba(0, 0, 0, .7);
        }
    }
}



//Мобильный адаптив
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
    .linksInPages {
        .blockWithLinks {
            &__box {
                width: 180px;
            }
        }
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .linksInPages {
        .blockWithLinks {
            &__box {
                width: 143px;
            }
        }
    }
    .faq {
        &__wrapper {
            width: 100%;
            justify-content: center;
            .question {
                // margin: 0 auto;
                width: 80%;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .promo {
        height: 400px;
        &__title {
            font-size: 63px;
        }
        &__descr {
            font-size: 23px;
        }
    }
    .test {
        height: 50px;
    }
    .topCasino {
        &__box {
            .logoCasino {
                width: 70px;
            }
            .nameCasino {
                font-size: 25px;
            }
            .rateCasino {
                width: 90px;
                span {
                    font-size: 20px;
                }
            }
            .btn_ref {
                width: 130px;
                height: 50px;
            }
        }
    }
    .linksInPages {
        .blockWithLinks {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__box {
                margin-bottom: 10px;
                width: 50%;
            }
        }
    }
    .faq {
        &__wrapper {
            flex-direction: column;
            width: 100%;
            justify-content: center;
            .question {
                margin: 0 auto;
                width: 80%;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    .promo {
        height: 400px;
        &__title {
            font-size: 50px;
        }
        &__descr {
            font-size: 23px;
        }
    }
    .topCasino {
        &__box {
            flex-direction: column;
            gap: 10px;
            height: 280px;
        }
    }
    .title {
        font-size: 30px;
    }
    .text {
        font-size: 14px;
    }
    .linksInPages {
        .blockWithLinks {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__box {
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
    .faq {
        &__wrapper {
            flex-direction: column;
            width: 100%;
            justify-content: center;
            .question {
                margin: 0 auto;
                width: 100%;
                padding: 16px 20px;
                min-height: 60px;
                &__text {
                    transition: all 0.3s;
                    font-size: 15px;
                }
            }
        }
    }
}