.paymentPromo {
    background: url(../img/payment/payment_bg.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    @media (max-width: 991px) {
        background-attachment: local;
    }
}
.aboutPayment {
    padding: 40px 0;
    background: #1F2A37;
    &__warning {
        margin: 0 auto;
        margin-top: 30px;
        max-width: 900px;
    
        background-color: #111928;
        border: 1px solid #374151;
        border-radius: 8px;
        padding: 20px;
        color: #9CA3AF;
        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #9CA3AF;
    }
}