.paymentPromo {
    background: url(../img/payment_bg.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    @media (max-width: 991px) {
        background-attachment: local;
    }
}