.roulettePromo {
    background: url(../img/roulette_bg.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    @media (max-width: 991px) {
        background-attachment: local;
    }
}
.rulesRouletteCards {
    padding: 40px 0;
    background-color: #1F2A37;
}
.typeRoulette {
    padding: 40px 0;
    background: #111928;
}