.slotsPromo {
    background: url(../img/slots_bg.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    @media (max-width: 991px) {
        background-attachment: local;
    }
}
.topSlotsBrazil {
    padding: 40px 0;
    background-color: #f4f4f4;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0;
        gap: 30px;
    }
}
.cardSlot {
    position: relative;
    width: 336px;
    height: 422px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    gap: 30px;
    &__img {
        width: 100%;
        border-radius: 8px;
        img {
            width: 100%;
            max-height: 218px;
            border-radius: 8px 8px 0 0;
        }
    }
    &__title {
        margin-top: 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #113454;
    }
    &__descr {
        margin-top: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #113454;
    }
    &__btn {
        display: flex;
        margin: 0 auto;
        margin-top: 24px;
        width: 138px;
        height: 53px;

        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &__moreInfo {
        display: block;
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #707487;
    }
    &__textAbout {
        padding: 15px 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #113454;
    }
    &__back {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 576px) and (max-width: 767px) {
    .cardSlot {
        &__textAbout {
            font-size: 15px;
        }
     }
}
@media (min-width: 320px) and (max-width: 575px) {
 .cardSlot {
    &__textAbout {
        font-size: 15px;
    }
 }
}

