.slotsPromo {
    background: url(../img/slots_bg.jpg) center (center/cover) no-repeat;
    background-attachment: fixed;
    padding: 0 20px;
    @media (max-width: 991px) {
        background-attachment: local;
    }
}
.topSlotsBrazil {
    padding: 40px 0;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0;
        gap: 30px;
    }
}
.cardSlot {
    position: relative;
    width: 290px;
    height: 390px;
    background-color: #111928;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    gap: 30px;
    &__img {
        width: 100%;
        border-radius: 8px;
        img {
            width: 100%;
            max-height: 218px;
            border-radius: 8px 8px 0 0;
        }
    }
    &__title {
        margin-top: 7px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
    }
    &__descr {
        margin-top:6px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #9CA3AF;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
        width: 138px;
        height: 53px;
        background: #1C64F2;
        border-radius: 8px;
        text-align: center;

        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        transition: all 0.3s;
        &:hover {
            background-color: #2ECC71;
        }
    }
    &__moreInfo {
        display: block;
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
    }
    &__textAbout {
        padding: 15px 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &__back {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #707487;
    }
}

.rulesSlots {
    padding: 40px 0;
}

.tableHTML {
    padding: 40px 0 20px;
    &__title {
        color: #FFFFFF;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #fff;
        th {
            max-width: 220px;
            height: 30px;
            padding: 7px;
        }
    }
    &__text {
        padding: 0 5px;
        height: 60px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #9CA3AF;
        text-align: center;
    }
}
.greyRowtable {
    background-color:#111928;
}
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 576px) and (max-width: 767px) {
    .cardSlot {
        &__textAbout {
            font-size: 15px;
        }
    }
    .tableHTML {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 575px) {
 .cardSlot {
    &__textAbout {
        font-size: 15px;
    }
 }
 .tableHTML {
    display: none;
}
}

